<div id="news">
    <span class="latestnews">{{page.header.title}}</span>
    <div class="newsarticle-wrapper">
        {% for article in page.find('/news').children %}
            <a class="3u 12u newsarticle" href="./news/#{{article.slug}}">
                {% if article.header.image %}
                    <img src="{{ page.find('/news').media[article.header.image].forceResize(100,70).url }}" alt="" />
                {% endif %}
                <header>
                    <h3>{{ article.title }}</h3>
                </header>
            </a>
        {% endfor %}
    </div>
</div>
